<a href="https://colab.research.google.com/github/edouardor/test-colab/blob/main/Udemy_OOP_150_ejercicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Udemy 150+ Exercises - Object Oriented Programming in Python - OOP

Exercise 1 

Print the Python version in the console

In [2]:
import sys
print(sys.version)

3.6.9 (default, Oct  8 2020, 12:12:24)
[GCC 8.4.0]

### Sección 4:Namespaces and Scopes
Exercise 1

import the built-in datetime module and display the namespace of this module (sorted alphabetically)

In [5]:
import datetime 
for k in sorted(datetime.__dict__):
  print(k)

MAXYEAR
MINYEAR
__builtins__
__cached__
__doc__
__file__
__loader__
__name__
__package__
__spec__
date
datetime
datetime_CAPI
sys
time
timedelta
timezone
tzinfo

### Exercise 2:
The Product class is given below. Display the namespace (value of the ______dict__ attribute) of this class

In [2]:
import uuid


class Product:

    def __init__(self, product_name, price):
        self.product_id = self.get_id()
        self.product_name = product_name
        self.price = price

    def __repr__(self):
        return f"Product(product_name='{self.product_name}', price={self.price})"

    @staticmethod
    def get_id():
        return str(uuid.uuid4().fields[-1])[:6]

for name in Product.__dict__:
    print(name)

__module__
__init__
__repr__
get_id
__dict__
__weakref__
__doc__

### Exercise 3: 

An instance of the class named product has been created. Display the namespace value (value of the ______dict__ attribute) of this instance.

In [5]:
import uuid


class Product:

    def __init__(self, product_name, product_id, price):
        self.product_name = product_name
        self.product_id = product_id
        self.price = price

    def __repr__(self):
        return f"Product(product_name='{self.product_name}', price={self.price})"


product = Product('Mobile Phone', '54274', 2900)

In [6]:
print(product.__dict__)

{'product_name': 'Mobile Phone', 'product_id': '54274', 'price': 2900}

## Sección 5:The LEGB rule

### Exercise 1:
The stock_info() function is defined. Display the names of all arguments of this function.

In [7]:
def stock_info(company, country, price, currency):
    return f'Company: {company}\nCountry: {country}\nPrice: {currency} {price}'

In [10]:
print(stock_info.__code__.co_varnames)

('company', 'country', 'price', 'currency')

### Exercise 2:
Import the sum() function. Call the function with the list [-4,3,2]

In [14]:
print(sum.__doc__)

Return the sum of a 'start' value (default: 0) plus an iterable of numbers

When the iterable is empty, return the start value.
This function is intended specifically for use with numeric values and may
reject non-numeric types.

In [15]:
sum([-4,3,2])

1

In [17]:
#import builtins
help(builtins.sum)
print(sum([-4,3,2]))

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

1

In [18]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

### Exercise 3:
A global variable counter is given with an incorrectly implemented update_counter() function. Correct the implementation and call it.

In [22]:
counter = 1

def update_counter():
  global counter
  counter +=1
  print(counter)

In [23]:
update_counter()

2

### Exercise 4:
same with 2 variables

In [1]:
counter = 0
dot_counter = ''

def update_counter():
    global counter, dot_counter
    counter += 1
    dot_counter += '.'

for i in range(40):
  update_counter() 

print(counter)
print(dot_counter)

40
........................................

Exercise 5:
non local statement

In [3]:
def display_info(number_of_updates=1):
    counter = 100
    dot_counter = ''

    def update_counter():
        nonlocal counter, dot_counter
        counter += 1
        dot_counter += '.'
    
    [update_counter() for _ in range(number_of_updates)]

    print(counter)
    print(dot_counter)

display_info(10)

110
..........

## Sección 6:Reminder: **args and **kwargs

In [10]:
def stick(*args):
  result = ""
  for argu in args:
    if type(argu) == str:
      result += argu+"#"
  return result[:-1]    

print(stick(False, 'time', True, 'workout', [], 'gym'))

time#workout#gym

In [12]:
def stick(*args):
  args =[arg for arg in args if isinstance(arg,str)]
  result = "#".join(args)
  return result

print(stick(False, 'time', True, 'workout', [], 'gym'))

time#workout#gym

In [22]:
def display_info(company, **kwargs):
    print('Company name:',company)
    if kwargs:
          print('Price: $',list(kwargs.values())[0])

display_info('CD Projekt',price=100)

Company name: CD Projekt
Price: $ 100

In [23]:
def display_info(company, **kwargs):
    print(f'Company name: {company}')
    if 'price' in kwargs:
        print(f"Price: $ {kwargs['price']}")
 
display_info(company='CD Projekt', price=100)

Company name: CD Projekt
Price: $ 100