<a href="https://colab.research.google.com/github/edouardor/test-colab/blob/main/Udemy_OOP_150_ejercicios_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Udemy 150+ Exercises - Object Oriented Programming in Python - OOP - 3


## SecciÃ³n 10:The __init__() method

In [3]:
class Laptop():
  def __init__(self):
    self.brand = 'brand'
    self.model = 'model'
    self.price = 0

laptop = Laptop()
laptop.brand = 'Acer'
laptop.model = 'Predator'
laptop.price = 5490

print(laptop.__dict__)

{'brand': 'Acer', 'model': 'Predator', 'price': 5490}

In [4]:
class Laptop:
 
    def __init__(self, brand, model, price):
        self.brand = brand
        self.model = model
        self.price = price
 
 
laptop = Laptop('Acer', 'Predator', 5490)
print(laptop.__dict__)

{'brand': 'Acer', 'model': 'Predator', 'price': 5490}

In [2]:
class Laptop:
 
    def __init__(self, brand, model, price):
        self.brand = brand
        self.model = model
        self.price = price

    def display_instance_attrs(self):
      for attr in self.__dict__:
        print(attr)    
 
 
laptop = Laptop('Dell', 'Inspiron', 3699)
laptop.display_instance_attrs()

brand
model
price

In [7]:
class Laptop:
 
    def __init__(self, brand, model, price):
        self.brand = brand
        self.model = model
        self.price = price

    def display_instance_attrs_with_values(self):
      for attr, value in self.__dict__.items():
        print(f'{attr} -> {value}') 

laptop = Laptop('Dell', 'Inspiron', 3699)
laptop.display_instance_attrs_with_values()

brand -> Dell
model -> Inspiron
price -> 3699

In [13]:
class Vector:

  def __init__(self, components):
    self.components = components

v1 = Vector((1,2))
v2 = Vector((4,5,2))

print(f'v1 -> {v1.components}')
print(f'v2 -> {v2.components}')

v1 -> (1, 2)
v2 -> (4, 5, 2)

In [14]:
class Vector:
 
    def __init__(self, *components):
        self.components = components
 
 
v1 = Vector(1, 2)
v2 = Vector(4, 5, 2)
 
print(f'v1 -> {v1.components}')
print(f'v2 -> {v2.components}')

v1 -> (1, 2)
v2 -> (4, 5, 2)

In [24]:
class Bucket:

  def __init__(self,**kwargs):
    for key, value in kwargs.items():
      setattr(self, key, value)
  
      

bucket = Bucket(apple=3.5, milk = 2.5, juice = 4.9, water = 2.5)
print(bucket.__dict__)

{'apple': 3.5, 'milk': 2.5, 'juice': 4.9, 'water': 2.5}

In [27]:
class Car:

  def __init__(self, brand, model, price, type_of_car = 'sedan'):
    self.brand= brand
    self.model = model
    self.price = price
    self.type_of_car = type_of_car

car = Car('Opel','Insignia',115000)  
print(car.__dict__)

{'brand': 'Opel', 'model': 'Insignia', 'price': 115000, 'type_of_car': 'sedan'}

In [28]:
class Car:
 
    def __init__(self, brand, model, price, type_of_car=None):
        self.brand = brand
        self.model = model
        self.price = price
        self.type_of_car = type_of_car if type_of_car else 'sedan'
 
 
car = Car('Opel', 'Insignia', 115000)
print(car.__dict__)

{'brand': 'Opel', 'model': 'Insignia', 'price': 115000, 'type_of_car': 'sedan'}

In [29]:
car = Car('BMW','X3',200000,'SUV')
print(car.__dict__)

{'brand': 'BMW', 'model': 'X3', 'price': 200000, 'type_of_car': 'SUV'}

In [43]:
class Laptop:

  def __init__(self, brand, model, price):
        self.brand = brand
        self.model = model
        if not isinstance(price, (int, float)) or price <0:
          raise TypeError('The price attribute must be a positive int or float')
        else:
          self.price = price
        
            

laptop = Laptop('Acer','Predator',-5490)
print(laptop.__dict__)

TypeError: ignored

In [2]:
class Laptop:

  def __init__(self, brand, model, price):
        self.brand = brand
        self.model = model
        try:
          price >0
          self.price = price
        except:
          print('The price attribute must be a positive int or float')
      
          
        
            

laptop = Laptop('Acer','Predator','5490')

The price attribute must be a positive int or float
{'brand': 'Acer', 'model': 'Predator'}

In [3]:
class Laptop:
 
    def __init__(self, brand, model, price):
        self.brand = brand
        self.model = model
        if isinstance(price, (int, float)) and price > 0:
            self.price = price
        else:
            raise TypeError('The price attribute must be a positive int or '
                'float.')
 
 
try:
    laptop = Laptop('Acer', 'Predator', '5900')
except TypeError as error:
    print(error)

The price attribute must be a positive int or float.

## SecciÃ³n 11:Visibility of variables

In [4]:
class Laptop:

  def __init__(self, brand, model, price):
        self.brand = brand
        self._model = model
        self.__price = price

laptop = Laptop('Acer','Predator',5490)
print(laptop.__dict__)

{'brand': 'Acer', '_model': 'Predator', '_Laptop__price': 5490}

In [14]:
for attr, value in laptop.__dict__.items():
    _index = attr[::-1].find('_')
    if _index == -1:
      _index = 0
    short_attr = attr[-_index:]
    print(f'{short_attr} -> {value}')

brand -> Acer
model -> Predator
price -> 5490

In [18]:
class Laptop:
 
    def __init__(self, brand, model, code, price, margin):
        self.brand = brand
        self._model = model
        self._code = code
        self.__price = price
        self.__margin = margin
 
    def display_private_attrs(self):
        for attr in self.__dict__:
            # private attribute begins with _Laptop__
            if attr.startswith(f'_{self.__class__.__name__}__'):
                print(attr)    
 
 
laptop = Laptop('Acer', 'Predator', 'AC-100', 5490, 0.2)
laptop.display_private_attrs()

_Laptop__price
_Laptop__margin

In [23]:
class Laptop:
 
    def __init__(self, brand, model, code, price, margin):
        self.brand = brand
        self._model = model
        self._code = code
        self.__price = price
        self.__margin = margin

    def display_protected_attrs(self):
      for attr in self.__dict__:
        if attr.startswith('_') and not attr.startswith(f'_{self.__class__.__name__}__'):
          print(attr)

laptop = Laptop('Acer', 'Predator', 'AC-100', 5490, 0.2)
laptop.display_protected_attrs()

_model
_code

## SecciÃ³n 12:Encapsulation

In [28]:
class Laptop:

  def __init__(self,price):
    self._price = price

  def get_price(self):
    return self._price  

  def set_price(self,price):
    self._price = price  

laptop = Laptop(3499)    
print(laptop.get_price())
laptop.set_price(3999)
print(laptop.get_price())

3499
3999

In [11]:
class Laptop:

  def __init__(self,price):
    self._price = price

  def get_price(self):
    return self._price  

  def set_price(self,price):
    if not isinstance(price,(int,float)):
      raise TypeError('The price attribute must be an int or float type')
    if price <=0:
        raise ValueError('The price attribute must be a positive int or float type') 
  
    self._price = price

laptop = Laptop(3499)
try:
   laptop.set_price('-3000')
except  TypeError as error:
   print(error)

The price attribute must be an int or float type

In [12]:
class Laptop:
 
    def __init__(self, price):
        self._price = price
 
    def get_price(self):
        return self._price
 
    def set_price(self, value):
        
        if not isinstance(value, (int, float)):
            raise TypeError('The price attribute must be an int or float type.')
        
        if not value > 0:
            raise ValueError('The price attribute must be a positive int or '
                'float value.')
        
        self._price = value
 
            
laptop = Laptop(3499)
try:
    laptop.set_price(-3000)
except ValueError as error:
    print(error)

The price attribute must be a positive int or float value.

In [13]:
class Laptop:

    def __init__(self, price):
        if not isinstance(price, (int, float)):
            raise TypeError('The price attribute must be an int or float type.')
        
        if not price > 0:
            raise ValueError('The price attribute must be a positive int or '
                'float value.')
        self._price = price

    def get_price(self):
        return self._price

    def set_price(self, value):
        
        if not isinstance(value, (int, float)):
            raise TypeError('The price attribute must be an int or float type.')
        
        if not value > 0:
            raise ValueError('The price attribute must be a positive int or '
                'float value.')
        
        self._price = value
try:        
    laptop = Laptop(-3499)  
except ValueError as error:
    print(error)

The price attribute must be a positive int or float value.

## Property

if there is no set method defined, we cannot change the property first_name (read-only property), but we can access it as an attribute (without ())

In [23]:
class Person:
  def __init__(self,first_name):
    self._first_name = first_name

  
  def get_first_name(self):
    return self._first_name

  first_name = property(fget=get_first_name)    

    
person = Person('John')
print(person.first_name)

John

In [24]:
person._first_name

'John'

In [25]:
person.first_name = 'Paul'

AttributeError: ignored

In [27]:
person._first_name = 'Paul'
print(person.first_name)

Paul

In [32]:
class Person:
  def __init__(self,first_name, last_name):
    self._first_name = first_name
    self._last_name = last_name

  
  def get_first_name(self):
    return self._first_name

  def get_last_name(self):
    return self._last_name  

  first_name = property(fget=get_first_name)
  last_name = property(fget= get_last_name)

person = Person('John','Dow')
print(person.first_name)
print(person.last_name)

John
Dow

In [35]:
class Person:
  def __init__(self,first_name):
    self._first_name = first_name

  
  def get_first_name(self):
    return self._first_name

  def set_first_name(self,new_name):
    self._first_name = new_name


  first_name = property(fget=get_first_name, fset=set_first_name)    

    
person = Person('John')
person.set_first_name('Mike')
print(person.first_name)

Mike

In [38]:
class Person:
  def __init__(self,first_name, last_name):
    self._first_name = first_name
    self._last_name = last_name
 
  def get_first_name(self):
    return self._first_name

  def get_last_name(self):
    return self._last_name  

  def set_first_name(self,new_name):
    self._first_name = new_name
  
  def set_last_name(self,new_name):
    self._last_name = new_name

  first_name = property(fget=get_first_name,fset=set_first_name)
  last_name = property(fget= get_last_name, fset=set_last_name)

person = Person('John','Dow')
print(person.first_name)
print(person.last_name)
person.first_name = 'Tom'
person.last_name = 'Smith'

print(person.__dict__)

John
Dow
{'_first_name': 'Tom', '_last_name': 'Smith'}

In [45]:
class Person:
  def __init__(self,first_name):
    self._first_name = first_name

  
  def get_first_name(self):
    return self._first_name

  def set_first_name(self,new_name):
    self._first_name = new_name

  def del_first_name(self):
    del self._first_name 


  first_name = property(fget=get_first_name, fset=set_first_name, fdel=del_first_name) 

person = Person('Tom')
person.del_first_name()
print(person.__dict__)

{}

In [6]:
class Pet:
  def __init__(self,name):
    self._name = name

  @property 
  def name(self):
    return self._name 

pet = Pet('Max')
print(pet.__dict__)

{'_name': 'Max'}

In [7]:
print(pet.name)

Max

the attribute is protected- as it is read only, it can't be changed

In [8]:
pet.name = 'Borus'

AttributeError: ignored

In [9]:
class Pet:
  def __init__(self, name, age):
    self._name = name
    self._age = age

  @property
  def name(self):
    return self._name

  @property
  def age(self):
    return self._age

pet = Pet('Max',5)
print(pet.__dict__)

{'_name': 'Max', '_age': 5}

In [10]:
class Pet:
  def __init__(self,name):
    self._name = name

  @property 
  def name(self):
    return self._name

  @name.setter
  def name(self,new_name):
    self._name = new_name   

pet = Pet('Max')
pet.name = 'Oscar'
print(pet.__dict__)

{'_name': 'Oscar'}